$work-list-item-gap: 30px;
$accent-color: #2196F3;
$primary-text-color: #212121;
$text-color: #757575;
$white-color: #fff;
$grey-color: #F5F4FA;
$svg-color: #AFB1B8;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);