.client {
    display: flex;
    margin: -15px;
    &__item {
        width: 170px;
        height: 92px;;
        display: inline-flex;
        margin: 15px;
        fill: $svg-color;
        border: 1px solid #AFB1B8;
        border-radius: 3px;
        cursor: pointer;
        transition: fill 250ms $timing-function;
        &:hover, &:focus {
            border-color: $accent-color;
            fill: $accent-color;
        }
    }

    &__icon {
        margin: auto;
    }
}

