.footer {
    background: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;

    .footer__container {
        display: flex;
    }

    &--block {
        margin-left: 85px;
    }

    .footer__title {
        display: block;
        margin-bottom: 20px;
        font-weight: 700;
        line-height: 1.14;
        text-transform: uppercase;
        color: $white-color;
        text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    }

    &__logo {
        display: block;
        margin-bottom: 20px;
        margin-right: 0;
        color: $white-color;
    }

    &__logo--color {
        color: $accent-color;
    }
}

.footer-left {
    display: flex;
    flex-direction: column;
}

.footer-list {
    &__item:not(:first-child) {
        margin-top: 9px;
    }

    &__address {
        font-style: normal;
        font-size: 14px;
        line-height: 1.71;
        color: $white-color;
        margin-top: 9px;
    }

    &__link {
        line-height: 1.7;
        color: rgba(255, 255, 255, 0.6);
        transition: color 250ms $timing-function;

        &:hover, &:focus {
            color: $accent-color;
        }
    }
}

.footer-social {
    &__item:not(:first-child) {
        margin-left: 10px;
    }

    &__icon {
        background-color: rgba(255, 255, 255, 0.1);
        fill: $white-color;
        border-radius: 50%;
        transition: background-color 250ms $timing-function;

        &:hover, &:focus {
            background-color: $accent-color;
        }
    }
}

.footer-form {
    display: inline-flex;

    &__field {
        display: block;
        margin-right: 12px;
    }

    &__input {
        width: 358px;
        height: 50px;
        padding-left: 16px;
        background-color: transparent;
        color: $white-color;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 4px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        transition: border 250ms $timing-function,
        fill 250ms $timing-function;

        &:focus {
            border-color: $accent-color;
            outline: transparent;
        }

        &::placeholder {
            font-size: 16px;
            line-height: 1.25;
            color: rgba(255, 255, 255, 0.6);
        }
    }

    &__button {
        position: relative;
        padding-left: 29px;
        text-align: left;
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            right: 28px;
            width: 24px;
            height: 24px;
            transform: translateY(-50%);
            background-image: url("../images/fly.svg");
        }
    }
}


