//LOGO
.logo {
    font: 700 26px/1.2 'Raleway', Sans-Serif;
    color: #000;
    margin-right: 95px;

    .logo__item {
        color: $accent-color;
    }
}

//HEADER NAVIGATION
.header {
    border-bottom: 1px solid #ECECEC;

    .container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    &__main-nav {
        display: flex;
        align-items: center;
    }

    &__nav {
        display: flex;
    }

    &__nav-item + &__nav-item {
        margin-left: 50px;
    }

    &__nav-link {
        position: relative;
        display: block;
        padding-top: 33px;
        padding-bottom: 32px;
        font-weight: 500;
        color: $primary-text-color;


        &:hover, &:focus {
            @include color-transitions($accent-color);
        }

        &:after {
            @extend %after-link;
        }

        &:hover:after {
            transform: scale(1);
        }
    }

    &--current {
        &:after {
            @extend %after-link;
            transform: scale(1);
        }
    }
}

/*HEADER CONTACT9*/
.header {
    &__contact {
        display: flex;
        margin-left: auto;
    }

    &__email-icon {
        .header__contact-link:hover & {
            @include fill-transitions($accent-color);
        }
    }

    &__tel-icon {
        .header__contact-link:hover & {
            @include fill-transitions($accent-color);
        }
    }

    &__contact-item:not(:first-child) {
        margin-left: 50px;
    }

    &__contact-link {
        display: inline-flex;
        align-items: center;
        letter-spacing: 0.02em;
        font-weight: 500;
        color: $text-color;

        &:hover, &focus {
            @include color-transitions($accent-color);
        }
    }

    &__tel-icon, &__email-icon {
        margin-right: 10px;
        fill: $text-color;
    }
}







