.filters {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    margin-top: -15px;

    @media screen and (min-width: 768px) {
        justify-content: center;
        margin-top: 0;
    }

    &__item {
        @media screen and (max-width: 767px) {
            margin-right: 8px;
            margin-top: 15px;
        }
    }

    &__item:not(:last-child) {
        margin-right: 8px;
    }

    &__btn {
        /* Box-model */
        padding: 6px 22px;

        /* Typography */
        font-family: inherit;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.62;

        /* Visual */
        background: #f5f4fa;
        color: $primary-text-color;
        border: none;
        border-radius: 4px;

        /* Misc */
        cursor: pointer;
        transition: box-shadow 250ms $timing-function, background-color 250ms $timing-function,
            color 250ms $timing-function;

        &:hover,
        &:focus {
            background-color: $accent-color;
            color: $white-color;
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.08),
                0 3px 1px rgba(0, 0, 0, 0.1);
        }
    }
}

.works {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }

    &__item {
        transition: box-shadow 250ms $timing-function;

        &:hover,
        &:focus {
            box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0 4px 4px rgba(0, 0, 0, 0.06),
                0 1px 1px rgba(0, 0, 0, 0.12);
        }

        @media screen and (min-width: 768px) {
            flex-basis: calc((100% - 2 * 30px) / 2);
            margin: 15px;
        }

        @media screen and (min-width: 1200px) {
            flex-basis: calc((100% - 90px) / 3);
        }
    }

    &__item:not(:last-child) {
        @media screen and (max-width: 767px) {
            margin-bottom: 30px;
        }
    }

    &__card-thumb {
        position: relative;
        display: block;
        overflow: hidden;
    }

    &__image {
        width: 100%;
    }

    &__card-item {
        padding: 20px 24px;
        border-right: 1px solid #eee;
        border-bottom: 1px solid #eee;
        border-left: 1px solid #eee;
    }

    &__title {
        font-size: 18px;
        font-weight: 700;
        line-height: 2;
        letter-spacing: 0.06em;
        text-align: left;
        color: $primary-text-color;
        margin-bottom: 0;
    }

    &__text {
        margin-top: 4px;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.03em;
        color: $text-color;
    }

    &__text-description {
        padding: 63px 24px;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.6;
    }
}

.works__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    color: $white-color;
    transform: translatey(100%);
    z-index: 100;

    .works__item:hover & {
        transform: translate(0);
        transition: transform 250ms $timing-function;
    }
}
