.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding-top: 118px;
    padding-bottom: 118px;
    text-align: center;
    background-color: #2f303a;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/banner-480.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &__title {
        max-width: 360px;
        margin-bottom: 30px;
        font-weight: 900;
        font-size: 26px;
        line-height: 1.6;
        color: $white-color;
        text-transform: uppercase;
        letter-spacing: 0.06em;

        @media screen and (min-width: 1200px) {
            max-width: 660px;
            font-size: 44px;
            line-height: 1.41;
            letter-spacing: 0.03em;
        }
    }
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .banner {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url('../images/banner2@-480.jpg');
    }
}

@media screen and (min-width: 768px) {
    .banner {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url('../images/banner-768.jpg');
    }

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        .banner {
            background-image: linear-gradient(
                    to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)
                ),
                url('../images/banner2@-768.jpg');
        }
    }
}

@media screen and (min-width: 1200px) {
    .banner {
        padding-top: 200px;
        padding-bottom: 200px;
        max-width: 1600px;
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url('../images/banner-1200.jpg');
    }

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        .banner {
            background-image: linear-gradient(
                    to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)
                ),
                url('../images/banner2@-1200.jpg');
        }
    }
}
