.work {
    display: none;
}

@media screen and (min-width: 1200px) {
    .work {
        display: block;
        padding-top: 0;
        .work-list {
            display: flex;
            flex-wrap: wrap;
            margin: -15px;
            &__item {
                position: relative;
                margin: 15px;
            }
            &__description {
                position: absolute;
                bottom: 0;
                left: 0;
                content: '';
                display: block;
                padding-top: 27px;
                padding-bottom: 27px;
                width: 100%;
                font-size: 14px;
                font-weight: 700;
                line-height: 1.14;
                text-transform: uppercase;
                text-align: center;
                color: $white-color;
                background-color: rgba(47, 48, 58, 0.8);
            }
        }
    }
}
